# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
.env

# Hatch environments
.pyproject-build/
.hatch/

# Testing
.coverage
htmlcov/
pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.swp

# MacOS
.DS_Store
